<h1>Tags</h1>

<ul>
{% for tag in collections | getKeys | filterTagList | sortAlphabetically %}
	{% capture tagUrl %}/tags/{{ tag | slugify }}/{% endcapture %}
	<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a></li>
{% endfor %}
</ul>
